.i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}


button {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 15px;
  align-items: 'stretch';
  justify-content: 'space-evenly';
  position: relative;
  flex-direction: column;
  top: 14px;
  left: 10px;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

button:hover{
  opacity: 0.5;
  filter: alpha(opacity=50);
}
