.image-cropper {
  width: 250px;
  height: 250px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.Profile_pic {
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.pic {
  height: 720px;
  max-width: auto;
}

.mainBody_pic {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4%;
}

.mainBody {
  background-color: rgba(122, 122, 122, 0.2);
  max-width: 65%;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  font-family: "Arial";
  grid-template-columns: 1fr 4fr;
  border-radius:15px;
  position: relative;
  top:5%;
}

.mainBody_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4%;
}

.arrow_down {
  background-color: rgba(122, 122, 122, 0.2);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
  text-align: center;
  transition: transform .2s;
}

.arrow_down:hover {
  color: white;
  cursor: pointer;
  transform: scale(1.2);
}

.arrow {
  border: solid black;
  border-width: 0 4px 4px 0;
  border-radius: 2px;
  display: inline-block;
  padding: 7px;
  margin-top: 20%;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
